@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
* {
    font-family: "Urbanist", sans-serif;
    font-optical-sizing: auto;
}

section.projects {
    padding: 50px 0;
}
.main-head .small-head {
    color: #525fe1;
    font-size: 16px;
    font-weight: 700;
}
.main-head .bghead {
    color: #231f40;
    font-size: 34px;
    line-height: 1.5em;
    font-weight: 800;
}
.main-head .bghead span {
    color: #525fe1;
    position: relative;
}
.main-head .bghead span img {
    content: "";
    position: absolute;
    bottom: 10px;
    left: 10px;
    background-image: url(/after-head-icon.svg);
    width: 100px;
    height: 10px;
}