@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
section.projects {
    padding: 50px 0;
}
.main-head .small-head {
    color: #525fe1;
    font-size: 16px;
    font-weight: 700;
}