@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
* {
    font-family: 'Urbanist', sans-serif;
    font-optical-sizing: auto;
}

section.projects {
    padding: 50px 0;
}
.main-head .small-head {
    color: #525fe1;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
}
.main-head .bghead {
    color: #231f40;
    font-size: 34px;
    line-height: 1.5em;
    font-weight: 800;
}
.main-head .bghead span {
    color: #525fe1;
    position: relative;
}
.main-head .bghead span img {
    position: absolute;
    top: 100%;
    left: -5.9999999999999964px;
    width: 122.29999999999994px;
    height: 12.600000000000012px;
}
.project-cards {
    padding: 0;
    margin: 45px 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 45px;
}
.project-cards li {
    width: calc(33.33333333333333% - 30px);
    border-radius: 18px;
    background: #E3F5FF;
}
.project-cards li .card-inner {
    display: flex;
    flex-direction: column;
    width: 100%;
    border-top-left-radius: 18px;
    border-top-right-radius: 18px;
}
.project-cards li .card-inner .thumb {
    width: 100%;
    max-width: 100%;
    height: auto;
    object-fit: cover;
    border-top-left-radius: 18px;
    border-top-right-radius: 18px;
}
.project-cards li .card-inner .info {
    padding: 18px 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.project-cards li .card-inner .info .tech-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
}
.project-cards li .card-inner .info .tech-info span {
    height: 25px;
    font-size: 16px;
    color: #222FB0;
    padding: 0 15px;
    font-weight: 600;
    letter-spacing: 0.3px;
    line-height: 16px;
    background: linear-gradient(181deg, #d2d7f152, #C0D0E7);
    align-content: center;
    border-radius: 19px;
    border: 1px solid #ccd3fbc2;
}
.project-cards li .card-inner .info .text-link {
    text-decoration: none;
}
.project-cards li .card-inner .info .heading {
    font-size: 24px;
    line-height: 1.4em;
    font-weight: 700;
    color: #111D8F;
    margin: 0;
}
.project-cards li .card-inner .info .cardpara {
    font-size: 18px;
    line-height: 1.5em;
    font-weight: 500;
    color: #444487;
    margin: 0 0 6px 0;
}
.project-cards li .card-inner .info .card-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 12px;
    margin-bottom: 5px;
}
.project-cards li .card-inner .info .card-button .bot-button {
    background: radial-gradient(#5C6AC8, #121F9F);
    padding: 6px 13px;
    font-size: 16px;
    line-height: 1.5em;
    align-content: center;
    border-radius: 20px;
    text-decoration: none;
    color: #fff;
    font-weight: 500;
}
@media (max-width: 1200px) and (min-width:992px){
    .project-cards li .card-inner .info .tech-info span{
        font-size: 14px;
        padding: 0 12px;
        height: 20px;
    }
    .project-cards li .card-inner .info .tech-info {
        gap: 8px;
    }
    .project-cards li .card-inner .info .heading {
        font-size: 20px;
    }
    .project-cards li .card-inner .info .cardpara {
        font-size: 15px;
        line-height: 1.3em;
    }
    
    .project-cards {
        gap:18px;

    }
    .project-cards li {
        width: calc(33.33333333333333% - 12.8px);
    }
    .project-cards li .card-inner .info .card-button .bot-button {
        padding: 4px 11px;
        font-size: 14px;
        line-height: 1.4em;
    }
}
@media (max-width: 991px) and (min-width:768px){
    .project-cards li .card-inner .info .tech-info span{
        font-size: 14px;
        padding: 0 12px;
        height: 20px;
    }
    .project-cards li .card-inner .info .tech-info {
        gap: 8px;
    }
    .project-cards li .card-inner .info .heading {
        font-size: 20px;
    }
    .project-cards li .card-inner .info .cardpara {
        font-size: 15px;
        line-height: 1.3em;
        margin-bottom: 4px;
    }
    
    .project-cards {
        gap:18px;

    }
    .project-cards li {
        width: calc(33.33333333333333% - 12.8px);
    }
    .project-cards li .card-inner .info {
        padding: 12px 12px;
        gap:6px;
    }
    .project-cards li .card-inner .info .card-button .bot-button img {
        width: 16px;
        height: 16px;
        margin: -3px 2px 0 0;
    }
    .project-cards li .card-inner .info .card-button .bot-button {
        padding: 4px 11px;
        font-size: 12px;
        line-height: 1.4em;
    }
}
@media (max-width: 768px) and (min-width:500px) {
    .project-cards {
        max-width: 100%;
        overflow-x: scroll;
        overflow-y: hidden;
    }
    .project-cards li {
        width: 519px;
        min-width: 371px;
    }
}
@media (max-width: 500px) and (min-width:0px) {
    .project-cards {
        max-width: 100%;
        overflow-x: scroll;
        overflow-y: hidden;
    }
    .project-cards li {
        width: 330px;
        min-width: 300px;
    }
    .project-cards li .card-inner .info {
        padding: 12px 12px;
        gap:6px;
    }
    .project-cards li .card-inner .info .card-button .bot-button img {
        width: 16px;
        height: 16px;
        margin: -3px 2px 0 0;
    }
    .project-cards li .card-inner .info .card-button .bot-button {
        padding: 4px 11px;
        font-size: 12px;
        line-height: 1.4em;
    }
    .project-cards li .card-inner .info .tech-info span {
        font-size: 14px;
        padding: 0 12px;
        height: 20px;
    }
    .project-cards li .card-inner .info .tech-info {
        gap: 8px;
    }
    .project-cards li .card-inner .info .heading {
        font-size: 18px;
    }
    .project-cards li .card-inner .info .cardpara {
        font-size: 15px;
        line-height: 1.3em;
        margin-bottom: 4px;
    }
    .project-cards {
        gap:18px;
    }
}
.ecom-head {
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: center;
    padding: 21px 0;
    background: #F7F9FB;
    border-radius: 18px;
    margin-bottom: 45px;
}
.ecom-head .top-head {
    font-size: 34px;
    line-height: 1.4em;
    font-weight: 800;
    color: #231F40;
}
.ecom-head .top-head span {
    color: #222FB0;
}
.ecom-head .tabs {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
}
.ecom-head .tabs .tab-button.active {
    height: 25px;
    align-content: center;
    padding: 14px 12px;
    background: linear-gradient(#2B66FF, #104A9E);
    border-radius: 18px;
    color: #fff;
    border: 1px solid #1163DB;
}
.ecom-head .tabs .tab-button {
    height: 25px;
    align-content: center;
    padding: 14px 12px;
    background: linear-gradient(#d2d7f149, #3844894b);
    border-radius: 18px;
    color: #2F65CE;
    border: 1px solid #1163DB;
}