@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
* {
    font-family: 'Urbanist', sans-serif;
    font-optical-sizing: auto;
}

@keyframes facade {
    0% {
       background: #dfdfdf;
    }
 
    50% {
       background: #f1f1f1;
    }
 
    100% {
       background: #dfdfdf;
    }
 }
 .facade {
    background: #d9d9d9;
    border-radius: 12px;
    animation: facade 1.2s infinite ease-in-out;
 }

section.projects {
    padding: 50px 0;
}
.main-head .small-head {
    color: #525fe1;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
}
.main-head .bghead {
    color: #231f40;
    font-size: 34px;
    line-height: 1.5em;
    font-weight: 800;
}
.main-head .bghead span {
    color: #525fe1;
    position: relative;
}
.main-head .bghead span img {
    position: absolute;
    top: 100%;
    left: -5.9999999999999964px;
    width: 122.29999999999994px;
    height: 12.600000000000012px;
}
.project-cards {
    padding: 0;
    margin: 30px 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 45px;
}
.project-cards li {
    width: calc(33.33333333333333% - 30px);
    border-radius: 18px;
    background: #E3F5FF;
}
.project-cards li .card-inner {
    display: flex;
    flex-direction: column;
    width: 100%;
    border-top-left-radius: 18px;
    border-top-right-radius: 18px;
}
.project-cards li .card-inner .thumb {
    width: 100%;
    max-width: 100%;
    height: auto;
    min-height: 225px;
    max-height: 225px;
    object-fit: cover;
    border-top-left-radius: 18px;
    border-top-right-radius: 18px;
}
.project-cards li .card-inner .info .cardpara {
    display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;  
  overflow: hidden;
  min-height: 107px;
  max-height: 107px;
}
.project-cards li .card-inner .info {
    padding: 18px 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.project-cards li .card-inner .info .tech-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
    overflow-x: auto;
    overflow-y: hidden;
}
.project-cards li .card-inner .info .tech-info span {
    height: 25px;
    font-size: 16px;
    color: #222FB0;
    padding: 0 15px;
    font-weight: 600;
    letter-spacing: 0.3px;
    line-height: 16px;
    background: linear-gradient(181deg, #d2d7f152, #C0D0E7);
    align-content: center;
    border-radius: 19px;
    border: 1px solid #ccd3fbc2;
}
.project-cards li .card-inner .info .text-link {
    text-decoration: none;
}
.project-cards li .card-inner .info .heading {
    font-size: 24px;
    line-height: 1.4em;
    font-weight: 700;
    color: #111D8F;
    margin: 0;
}
.project-cards li .card-inner .info .cardpara {
    font-size: 18px;
    line-height: 1.5em;
    font-weight: 500;
    color: #444487;
    margin: 0 0 6px 0;
}
.project-cards li .card-inner .info .card-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 12px;
    margin-bottom: 5px;
}
.project-cards li .card-inner .info .card-button .bot-button img{
    width: 20px;
    height: 20px;
    margin: -4px 4px 0 0;
}
.project-cards li .card-inner .info .card-button .bot-button {
    background: radial-gradient(#5C6AC8, #121F9F);
    padding: 6px 13px;
    font-size: 16px;
    line-height: 1.5em;
    align-content: center;
    border-radius: 20px;
    text-decoration: none;
    color: #fff;
    font-weight: 500;
}
.more-detailed .content-tab.active {
    display:block;
}
.more-detailed .overflow-tab-move {
    display: flex;
    flex-direction: row;
    max-width: 100%;
    overflow: hidden;
}
.more-detailed .content-tab.tab1 {
    transform: translateX(-100%);
}
.more-detailed .content-tab.tab1.active {
    transform: translateX(0%);
}
.more-detailed .content-tab.tab2 {
    transform: translateX(100%);
}
.more-detailed .content-tab.tab2.active {
    transform: translateX(-100%);
}
.more-detailed .content-tab {
    /* display:none; */
    
    max-width: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
    transition: all 0.5s;
    min-width: 100%;
    width: 100%;
}
@media (max-width: 1200px) and (min-width:992px){
    .project-cards li .card-inner .info .tech-info span{
        font-size: 14px;
        padding: 0 12px;
        height: 20px;
    }
    .project-cards li .card-inner .info .tech-info {
        gap: 8px;
    }
    .project-cards li .card-inner .info .heading {
        font-size: 20px;
    }
    .project-cards li .card-inner .info .cardpara {
        font-size: 15px;
        line-height: 1.3em;
    }
    
    .project-cards {
        gap:18px;

    }
    .project-cards li {
        width: calc(33.33333333333333% - 12.8px);
    }
    .project-cards li .card-inner .info .card-button .bot-button {
        padding: 4px 11px;
        font-size: 14px;
        line-height: 1.4em;
    }
}
@media (max-width: 991px) and (min-width:768px){
    .project-cards li .card-inner .info .tech-info span{
        font-size: 14px;
        padding: 0 12px;
        height: 20px;
    }
    .project-cards li .card-inner .info .tech-info {
        gap: 8px;
    }
    .project-cards li .card-inner .info .heading {
        font-size: 20px;
    }
    .project-cards li .card-inner .info .cardpara {
        font-size: 15px;
        line-height: 1.3em;
        margin-bottom: 4px;
    }
    
    .project-cards {
        gap:18px;

    }
    .project-cards li {
        width: calc(33.33333333333333% - 12.8px);
    }
    .project-cards li .card-inner .info {
        padding: 12px 12px;
        gap:6px;
    }
    .project-cards li .card-inner .info .card-button .bot-button img {
        width: 16px;
        height: 16px;
        margin: -3px 2px 0 0;
    }
    .project-cards li .card-inner .info .card-button .bot-button {
        padding: 4px 11px;
        font-size: 12px;
        line-height: 1.4em;
    }
}
@media (max-width: 768px) and (min-width:500px) {
    .project-cards {
        max-width: 100%;
        overflow-x: scroll;
        overflow-y: hidden;
    }
    .project-cards li {
        width: 519px;
        min-width: 371px;
    }
}
@media (max-width: 500px) and (min-width:0px) {
    .project-cards {
        max-width: 100%;
        overflow-x: scroll;
        overflow-y: hidden;
    }
    .project-cards li {
        width: 270px;
        min-width: 270px;
    }
    .project-cards li .card-inner .info {
        padding: 12px 12px;
        gap:6px;
    }
    .project-cards li .card-inner .info .card-button .bot-button img {
        width: 16px;
        height: 16px;
        margin: -3px 2px 0 0;
    }
    .project-cards li .card-inner .info .card-button .bot-button {
        padding: 4px 11px;
        font-size: 12px;
        line-height: 1.4em;
    }
    .project-cards li .card-inner .info .tech-info span {
        font-size: 14px;
        padding: 0 12px;
        height: 20px;
    }
    .project-cards li .card-inner .info .tech-info {
        gap: 8px;
    }
    .project-cards li .card-inner .info .heading {
        font-size: 18px;
    }
    .project-cards li .card-inner .info .cardpara {
        font-size: 15px;
        line-height: 1.3em;
        margin-bottom: 4px;
    }
    .project-cards {
        gap:18px;
    }
}
.ecom-head {
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: center;
    padding: 21px 0;
    background: #F7F9FB;
    border-radius: 18px;
    margin-bottom: 45px;
}
.ecom-head .top-head {
    font-size: 34px;
    line-height: 1.3em;
    font-weight: 800;
    color: #231F40;
    margin-bottom: 0;
}
.ecom-head .top-head span {
    color: #222FB0;
}
.ecom-head .tabs {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
}
.ecom-head .tabs .tab-button.active {
    text-decoration: underline;
    text-underline-position: under;
}
.ecom-head .tabs .tab-button.active:hover {
    text-decoration: underline;
    text-underline-position: under;
}
.ecom-head .tabs .tab-button:hover {
    text-decoration: underline;
    text-underline-position: under;
}
.ecom-head .tabs .tab-button {
    align-content: center;
    font-weight: 700;
    color: #1E3792;
    transition: all 0.3s;
    cursor: pointer;
    font-size: 18px;
    letter-spacing: 0.3px;
}
.ecom-head .tab-row {
    display: flex;
    flex-direction: row;
    gap: 12px;
}
.ecom-filter {
    background: #F7F9FB;
    padding: 24px 24px;
    border-radius: 18px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    position: -webkit-sticky;
    position: sticky;
    top: 16px;
    max-height: 95vh;
}
.overflow-cont {
    overflow-y: scroll;
    overflow-x: hidden;
    max-height: calc(100% - 2px);
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.ecom-filter .icon-tophead {
    display: flex;
    flex-direction: row;
    gap: 8px;
}
.ecom-filter .icon-tophead svg {
    width: 22px;
    height: 22px;
}
.ecom-filter .icon-tophead .head {
    font-size: 18px;
    font-weight: 600;
    color: #1E3792;
}
.tab-row .height-divider {
    height: 26px;
    width: 1px;
    background: #1e3792;
    border-radius: 10px;
    display: none;
}
.tab-row .mobile-filter .icon-tophead {
    display: flex;
    flex-direction: row;
    gap: 8px;
    margin-top: 2px;
    display: none;
}
.tab-row .mobile-filter .icon-tophead svg {
    width: 22px;
    height: 22px;
}
.tab-row .mobile-filter .icon-tophead .head {
    font-size: 18px;
    font-weight: 700;
    color: #1E3792;
    margin-bottom: 0;
    margin-top: 0px;
    letter-spacing: 0.3px;
}
.ecom-filter .filter-head.active path#two {
    display: unset;
}
.ecom-filter .filter-head path#two {
    display: none;
}
.ecom-filter .filter-head {
    display: flex;
    flex-direction: row;
    background: linear-gradient(128deg, #16a0cb54, #0027b25c);
    align-items: center;
    align-content: center;
    box-shadow: inset #0771be54 0px -19px 15px, inset #075bbe7d 0px 21px 20px;
    border-radius: 6px;
    padding: 8px 13px;
    gap: 10px;
    cursor:pointer;
}
.ecom-filter .filter-head .head {
    font-size: 18px;
    line-height: 26px;
    font-weight: 700;
    color: #ffffff;
    margin: 0;
}
.ecom-filter .filter-techlist.active {
    display: flex;
}
.ecom-filter .filter-techlist {
    display: none;
    flex-direction: column;
    gap: 16px;
    list-style: none;
    margin: 0;
    padding: 0;
}
.ecom-filter .filter-techlist li {
    display: flex;
    flex-direction: row;
    position: relative;
}
.ecom-filter .filter-techlist li::after {
    content: "";
    position: absolute;
    bottom: -8px;
    width: 100%;
    height: 1px;
    background: #1e379229;
}
.ecom-filter .filter-techlist li:last-child::after {
    display: none;
}
.ecom-filter .filter-techlist li label {
    width: 100%;
    font-size: 16px;
    line-height: 25px;
    font-weight: 700;
    color: #1E3792;
}
.ecom-filter .filter-techlist li label + input[type="checkbox"] {
    border-color: #1E3792 !important;
    width: 20px;
}
.ecom-filter .filter-head + .filter-techlist + .filter-head {
    margin-top: 16px;
}
.done-button {
    display: none;
}
.ecompad{
    padding: 0 12px;
}
.ecom-content .project-cards {
    margin-top: 0;
    flex-wrap: wrap;
    gap: 24px;
}
.ecom-content .project-cards li {
    width: calc(50% - 12px);
}
.ecom-filter .overflow-cont::-webkit-scrollbar{width:.0em;height:.0em; border-radius: 10px}
*::-webkit-scrollbar{width:.6em;height:.1em; border-radius: 10px}
*::-webkit-scrollbar-track{-webkit-box-shadow:inset 0 0 6px transparent}
*::-webkit-scrollbar-thumb{background-color:#a9a9a9;outline:1px solid rgba(112, 128, 144, 0);border-radius: 10px}

@media (max-width:768px) {
    .ecom-head {
        align-items: flex-start;
        padding: 21px 20px;
        margin-bottom: 24px;
    }
    .tab-row .height-divider {
        display: block;
    }
    .tab-row .mobile-filter .icon-tophead {
        display: flex;
    }
    .ecom-head .top-head {
        font-size: 29px;
    }
    .ecom-filter {
        position: fixed;
        left:-300%
    }
    .ecom-filter.active {
        position: fixed;
        left: 0;
        top: 0;
        width:100%;
        min-height: 100vh;
        border-radius: 0;
    }
    .ecom-filter.active .overflow-cont {
        min-height: calc(100vh - 152.6px);
        max-height: calc(100vh - 152.6px);
    }
    .done-button {
        display: unset;
        background: radial-gradient(#67bdf8, #447ac3);
        padding: 7px 40px;
        font-size: 18px;
        line-height: 1.5em;
        align-content: center;
        border-radius: 20px;
        text-decoration: none;
        color: #fff;
        font-weight: 500;
        margin: auto 0 0 auto;
    }
    .ecom-content .project-cards li{
        min-width: 100%;
    }
}
.top-navigation {
    display: flex;
    flex-direction: row;
    gap: 16px;
    padding: 16px 0;
}
.top-navigation .link {
    font-size: 16px;
    line-height: 1;
    font-weight: 600;
    color: #605f5f;
    display: flex;
    flex-direction: row;
    gap: 6px;
    align-items: center;
    text-decoration: none;
}
.top-navigation .link.active {
    color: #fff;
    background: linear-gradient(128deg, #16a0cb54, #0027b25c);
    box-shadow: inset #0771be54 0px -19px 15px, inset #075bbe7d 0px 21px 20px;
    padding: 7px 8px 6px 8px;
    border-radius: 10px;
}
.detailed-inner .lhs {
    padding-right: 25px;
}
.detailed-inner .rhs {
    padding-left: 25px;
}
.detailed-inner .lhs, .detailed-inner .rhs {
    display: flex;
    flex-direction: column;
}

.detailed-inner .lhs .carousel-product {
    display: flex;
    flex-direction: row;
    gap: 21px;
    flex-wrap: wrap;
    position: relative;
}
.detailed-inner .lhs .carousel-product .slides.active .thumb {
    height:350px;
    width: 100%;
    border-radius: 18px;
}

.detailed-inner .lhs .carousel-product .slides.active video.video-thumb {
    width: 100%;
    height: 350px;
    border-radius: 18px;
}


.detailed-inner .lhs .carousel-product .slides video.video-thumb {
    width: 100%;
    height: 109px;
    border-radius: 18px;
    position: relative;
}
.detailed-inner .lhs .carousel-product .slides.active {
    order:1;
}
.detailed-inner .lhs .carousel-product .slides {
    order: 2;
}

.detailed-inner .lhs .carousel-product .slides {
    width: calc(33.3333% - 14px);
    height: 108px;
}
.detailed-inner .lhs .carousel-product .slides .thumb {
    width: 100%;
    height: 108px;
    border-radius: 18px;
}
.detailed-inner .lhs .carousel-product .slides.active {
    width: 100%;
    height: 350px;
    object-fit: cover;
    border-radius: 18px;
}
.detailed-inner .lhs .carousel-product .slides .thumb.active {
    width: 100%;
    height: 350px;
    object-fit: cover;
    border-radius: 18px;
}

.detailed-inner .lhs .carousel-product .navigation {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: absolute;
    top: 156px;
    z-index: 10;
}
.detailed-inner .lhs .carousel-product .navigation .prev svg, .detailed-inner .lhs .carousel-product .navigation .next svg {
    box-shadow: 0 8px 16px #00000033;
    border-radius: 100px;
    cursor:pointer;
}
.detailed-inner .rhs .product-info {
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.detailed-inner .rhs .product-info .review {
    display: flex;
    flex-direction: row;
    gap: 8px;
}
.detailed-inner .rhs .product-info .det-head {
    font-size: 35px;
    line-height: 45px;
    color:#111D8F;
    font-weight: 700;
}
.detailed-inner .rhs .product-info .tech-pointers strong {
    font-weight: 700;
}
.detailed-inner .rhs .product-info .info {
    display: flex;
    flex-direction: column;
    gap:5px;
}
.detailed-inner .rhs .product-info .tech-pointers {
    font-size: 18px;
    line-height: 28px;
    color: #36528A;
    margin-bottom: 0;
}
div.col-divider {
    width: 100%;
    height: 1px;
    background: #E8ECEF;
    margin: 20px 0;
}
.detailed-inner .rhs .product-info .keypoints-head {
    font-size: 20px;
    line-height: 30px;
    color: #36528A;
    font-weight: 700;
    margin-bottom: 0;
}
.detailed-inner .rhs .product-info .keypoints {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 16px;
    column-gap: 24px;
}
.detailed-inner .rhs .product-info .keypoints .ptrs {
    display: flex;
    flex-direction: row;
    gap: 8px;
    color: #36528A;
    font-size: 18px;
    font-weight: 600;
}
.detailed-inner .rhs .product-info .project-box .keypoints-head {
    font-size: 24px;
    line-height: 36px;
    color: #36528A;
    font-weight: 700;
    margin-bottom: 0;
}
.detailed-inner .rhs .product-info .project-box .forminput {
    background: #F5F5F5;
    border-radius: 5px;
    border: 0 none;
    height: 60px;
    padding: 0 25px;
    font-weight: 500;
    font-size: 18px;
    color: #454545;
    width: 100%;
    border: 1px solid transparent;
}
.detailed-inner .rhs .product-info .project-box form {
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.detailed-inner .rhs .product-info .project-box {
    background: #fff;
    box-shadow: 0 47px 152px #00000017, 0 3.13px 5.93px #00000007;
    padding: 28px 43px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.detailed-inner .rhs .product-info .project-box .t-and-c {
    display: flex;
    flex-direction: row;
    gap:2px;
}
.detailed-inner .rhs .product-info .project-box .t-and-c input[type=checkbox] {
    width: 14px;
    height: 23px;
}
.detailed-inner .rhs .product-info .project-box .t-and-c label a {
    color: #525fe1;
}
.detailed-inner .rhs .product-info .project-box .t-and-c label {
    font-size: 16px;
    font-weight: 500;
    color: #6f6b80;
}
.detailed-inner .rhs .product-info .project-box .button {
    padding: 10px 40px;
    background: linear-gradient(180deg, rgba(62, 162, 218, 0.11) 0%, rgba(80, 109, 211, 0.11) 100%);
    box-shadow: inset 0px -16px 37px #286094, inset 0px 26px 27.9px rgba(40, 87, 179, 0.83);
    border-radius: 12px;
    color:#fff;
    text-decoration: none;
    text-align: center;font-family: 'Urbanist';
    font-weight: 700;
    font-size: 20px;
    line-height: 32px;
    text-align: center;
    color: #FFFFFF;
    border: none;
}

.detailed-inner .lhs .infotab {
    display: flex;
    flex-direction: column;
    margin: 16px 0;
    margin-top: 36px;
}
.detailed-inner .lhs .infotab .tabhead {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
    border-bottom: 1px solid #E8ECEF;
    position: relative;
}
.detailed-inner .lhs .infotab .tabhead .tabnav.active {
    color: #5689D5;
}
.detailed-inner .lhs .infotab .tabhead .tabnav.active::after {
    content: "";
    width: 100%;
    height: 1px;
    background: #5689D5;
    position: absolute;
    bottom: -1px;
    z-index: 2;
    left: 0;
}
.detailed-inner .lhs .infotab .tabhead .tabnav:hover {
    color: #5689D5 !important;
}
.detailed-inner .lhs .infotab .tabhead .tabnav:hover::after{
    content: "";
    width: 100%;
    height: 1px;
    background: #5689D5;
    position: absolute;
    bottom: -1px;
    z-index: 2;
    left: 0;
}
.detailed-inner .lhs .infotab .tabhead .tabnav {
    width: 140px;
    text-align: center;
    position: relative;
    font-size: 18px;
    line-height: 26px;
    font-weight: 700;
    color: #909090;
    cursor: pointer;
}
.detailed-inner .lhs .infotab .tabhead::after {
    content: "";
    position: absolute;
    width: 100%;
    top: 100%;
    left: 0;
    height: 1px;
    background: #E8ECEF;
    z-index: 1;
}
.detailed-inner .lhs .infotab .info-content.hide {
    display: none;
}
.detailed-inner .lhs .infotab .info-content.active {
    display: flex;
}
.detailed-inner .lhs .infotab .info-content {
    display: none;
    flex-direction: column;
    gap: 12px;
    padding-top: 12px;
    padding-bottom: 12px;
}
.detailed-inner .lhs .infotab .info-content .tech-pointers strong {
    font-weight: 700;
}
.detailed-inner .lhs .infotab .info-content .tech-pointers {
    font-size: 18px;
    line-height: 28px;
    color: #36528A;
    margin-bottom: 0;
}
.detailed-inner .more-detailed {
    display: flex;
    flex-direction: column;
}
.detailed-inner .more-detailed .more-nav {
    display: flex;
    flex-direction: row;
    position: relative;
}

.detailed-inner .more-detailed .more-nav .tab-nav:hover {
    background: linear-gradient(90.59deg, #2E75FF 0.23%, #1E2EBD 98.43%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}
.detailed-inner .more-detailed .more-nav .tab-nav:hover::after {
    content: "";
    position: absolute;
    width: 200px;
    bottom: -2px;
    left: 0;
    height: 4px;
    background: linear-gradient(90.59deg, #2E75FF 0.23%, #1E2EBD 98.43%);
    border-radius: 10px;
}
.detailed-inner .more-detailed .more-nav .tab-nav {
    font-weight: 600;
    font-size: 22px;
    line-height: 30px;
    letter-spacing: 0px;
    background: linear-gradient(90.59deg, #909090 0.23%, #909090 98.43%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    min-width: 200px;
    margin: 0 30px 0 0;
    padding: 12px 0;
    position: relative;
    cursor: pointer;
}

.detailed-inner .more-detailed .more-nav .tab-nav.active {
    background: linear-gradient(90.59deg, #2E75FF 0.23%, #1E2EBD 98.43%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    position: relative;
    z-index: 3;
}
.detailed-inner .more-detailed .more-nav::after {
    content: "";
    position: absolute;
    width: 100%;
    top: 100%;
    left: 0;
    height: 2px;
    background: #B1B5C3;
}
.detailed-inner .more-detailed .more-nav .tab-nav.active::after {
    content: "";
    position: absolute;
    width: 100%;
    bottom: -2px;
    left: 0;
    height: 4px;
    background: linear-gradient(90.59deg, #2E75FF 0.23%, #1E2EBD 98.43%);
    border-radius: 10px;
}
@media (min-width:768px) {
    .more-detailed .project-cards li {
        min-width: calc(33.33333333333333% - 30px);
        width: calc(33.33333333333333% - 30px);
    }
}
@media (max-width:768px) {
    .project-cards li .card-inner .info .cardpara {
        min-height: 50px;
    }
    .project-cards li .card-inner .thumb {
        min-height: 167.60000000000045px;
        max-height: 167px;
    }
    .detailed-inner .lhs {
        padding-right: calc(var(--bs-gutter-x)* .5);
    }
    .detailed-inner .rhs {
        padding-left: calc(var(--bs-gutter-x)* .5);
    }
    .detailed-inner .lhs .infotab .tabhead .tabnav {
        font-size: 16px;
    }
    .detailed-inner .lhs .infotab .tabhead {
        gap: 12px;

        overflow-x: scroll;
        overflow-y: hidden;
        max-width: 100%;
    }
    .detailed-inner .lhs, .detailed-inner .rhs {
        margin: 24px 0;
    }

    .detailed-inner .more-detailed .more-nav {
        overflow-x: scroll;
        overflow-y: hidden;
    }
    .detailed-inner .more-detailed .more-nav .tab-nav {
        font-size: 18px;
        line-height: 24px;
        min-width: 167px;
    }
    .detailed-inner .lhs .carousel-product .slides.active {
        height: 52vw;
    }
    .detailed-inner .lhs .carousel-product .slides.active .thumb {
        height: 52vw;
    }
    .detailed-inner .lhs .carousel-product .navigation {
        top: 21.5vw;
    }
    .detailed-inner .lhs .carousel-product .navigation .prev svg, .detailed-inner .lhs .carousel-product .navigation .next svg {
        width: 25px;
        height: 25px;
    }
    .detailed-inner .lhs, .detailed-inner .rhs {
        margin: 0 0;
    }
    .detailed-inner .lhs .infotab {
        margin-bottom: 0;
    }
    .detailed-inner .rhs .product-info .project-box {
        margin-bottom: 24px;
    }
    .detailed-inner .lhs .carousel-product .slides video.video-thumb {
        height: 20vw;
    }
    .detailed-inner .lhs .carousel-product .slides.active video.video-thumb {
        height: 52vw;
    }
    .detailed-inner .lhs .carousel-product .slides .thumb {
        height: 20vw;
        border-radius: 10px
    }
    .detailed-inner .lhs .carousel-product {
        margin-bottom: 18px;
    }
    .top-navigation .link {
        font-size: 14px;
        text-wrap: nowrap;
    }
    .ecom-head .tabs {
        width: 100%;
        max-width: 60%;
        overflow: auto;
    }
    .ecom-head .tab-row{
        min-width: 100%;
    }
}