.user-section {
    display:flex;
    flex-direction: column;
}
.user-section .main-head {
    font-weight: 800;
    font-size: 54px;
    line-height: 68px;
    letter-spacing: 0.04em;
    background: linear-gradient(87.82deg, #3f7bc0 5.03%, #006fee 99.3%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    margin: 60px auto 30px auto;
    width: fit-content;
}
.user-section .login-bg {
    background: #f3f3fb;
    border-radius: 18px;
    display: flex;
    flex-direction: column;
    padding:30px 35px;
}
.user-section .login-head {
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 35px;
    letter-spacing: 0.04em;
    background: linear-gradient(87.82deg, #1417ce 5.03%, #2320bb 99.3%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    text-align: center;
}
.user-section .label-span {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.03em;
    color: rgba(20, 63, 206, 0.61);
    margin-bottom: 8px;
    margin-top: 28px;
}
.user-section input.login-input:focus-visible {
    outline: none;
}
.user-section form {
    display: flex;
    flex-direction: column;
}
.user-section .login-input {
    background: #FFFFFF;
    border-radius: 9px;
    border: none;
    height: 35px;
    padding: 0 10px;
}
.user-section .button-row {
    display: flex;
    flex-direction: row;
    margin-top: 28px;
}
.user-section .button-row .submit-button{
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 16px;
    color: #FFFFFF;
    background: linear-gradient(91.69deg, rgba(22, 64, 203, 0.38) 0.45%, rgba(0, 48, 179, 0.38) 99.4%);
    box-shadow: inset 0px -19px 15.3px rgba(7, 34, 190, 0.25), inset 0px 21px 20.1px rgba(7, 65, 190, 0.52);
    border-radius: 8px;
    padding: 7px 20px;
    border: none;
}
.user-section .button-row .submit-button svg {
    width: 20px;
    height: 20px;
    margin-right: 7px;
}
.user-section .button-row .rem-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 30px;
}
.user-section .button-row .rem-button input[type="checkbox"] {
    width: 16px;
    height: 16px;
}
.user-section .button-row .rem-button .checkbox {

}